<a ng-show="user" ng-href="#/new">New</a>
<input type="search" ng-model="search.query" placeholder="search"/>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Priority</th>
    <th>Name</th>
    <th>Options</th>
  </tr>
  <tr ng-repeat="item in items | orderByPriority | filter:search.query">
    <td><a ng-href="#/item/{{item.$id}}">{{item.$id}}</a></td>
    <td>{{item.$priority}}</td>
    <td>{{item.name}}</td>
    <td>
      <div ng-show="user">
        <a ng-href="#/edit/{{item.$id}}">Edit</a>
        <a ng-href="#/delete/{{item.$id}}">Delete</a>
      </div>
    </td>
  </tr>
</table>


